.App {
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.Header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  

  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* -ms-grid-row-align: start;
  -ms-grid-column-align: start;
  -ms-grid-column: 1;
  grid-area: 1/1/2/2; */
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  float: left;

}

.header-logo-and-title {
  margin-top: 1%;
  margin-left: 1%;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
