.Logo {
  height: 70px;
  pointer-events: none;
  float: left;

}

.Logo-discription {
  font-size: calc(20px);
  pointer-events: none;
  margin-top: 0px;
  margin-left: 7px;
}

.Logo-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 10px;
}

.Title{
  margin-left: 10px;
  margin-top: 10px;
}

.Route{
  font-size: calc(10px + 1vmin);
  margin-left: 10px;
}

.Routes{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.Title-Routes-container{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 10px;
}

.Navbar {
  background-color: #fff8e9;
  min-height: 10vh;
  display: flex;
  font-size: calc(25px);
  color: rgb(17, 82, 44);
  

  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* -ms-grid-row-align: start;
  -ms-grid-column-align: start;
  -ms-grid-column: 1;
  grid-area: 1/1/2/2; */
}

.MainContents{
  min-height: 100vh;
  max-width: 100vw;
}

.slider-container{
  margin-top: 30px;
}

.photo{
  max-width: 100vw;
  max-height: 40vh;
  margin: 0 auto;
  pointer-events: none;
}

.news-title-container {
  display: flex; /* 設置為彈性容器 */
  flex-direction: column; /* 子元素垂直排列 */
  align-items: center; /* 子元素垂直置中 */
  margin-top: 30px;
  font-size: 30px;;
}

.Copyright-info-container{
  display: flex; /* 設置為彈性容器 */
  justify-content: space-between;
  max-width: 98vw;
  margin-left: 1vw;
  margin-bottom: 1vh;
  font-size: calc(5px + 1vmin);
  align-items: flex-end;
}

.info {
  display: flex;
  align-items: center;
  margin-right: 1vw;
  gap: 1vw;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  cursor: pointer;
}

a{
  color: rgb(61, 61, 61) !important;
  text-decoration: none !important;
}

body {
  background-color: #fff8e9 !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
